html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #222;
}
*, *:before, *:after {
    margin: inherit;
    padding: inherit;
    box-sizing: inherit;
}

canvas {
    border: 1px solid #666;
    border-radius: 7px;
    padding: 0;
    margin: auto;
    display: block;
    width: 800px;
    height: 600px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
